#section_1 h3 {
  margin-top: 2rem;
  padding: 0%;
}

#section_1 p {
  margin-top: 1rem;
}

#section_3 {
  background-color: #bfb096;
}

#section_7 h4 {
  text-align: center;
}

li:not(:last-child) {
  margin-bottom: 1rem;
}

#section_1 .psyko_section {
  margin-top: 0;
}

/* -----------------ligger alle billeder ind -----------------*/

#section_1 .pic1 {
  width: 100%;
  height: 50vh;
  background-image: url(../assets/deniz-z8tXhG946s0-unsplash.jpg);
  background-size: cover;
  background-position: 65% 50%;
  place-content: center;
  margin-bottom: 3rem;
  margin-top: 2rem;
}

#section_1 .pic2 {
  width: 100%;
  height: 50vh;
  background-image: url(../assets/nathan-dumlao-_-prYEEf0v4-unsplash.jpg);
  background-size: cover;
  background-position: 65% 50%;
  place-content: center;
  margin-bottom: -2rem;
  margin-top: 2rem;
}

#section_2 .pic3 {
  width: 100%;
  height: 50vh;
  background-image: url(../assets/andreas-dress-Eyvbop4Rheg-unsplash.jpg);
  background-size: cover;
  background-position: 65% 50%;
  place-content: center;
  margin-bottom: -2rem;
  margin-top: 2rem;
}

/* -----------------indsætter baggrundsfarve-----------------*/
#section_1 {
  margin-bottom: 3rem;
}

#section_2 {
  /* background-color: #80622f9c; */
  grid-column: 1/-1;
  padding: 2rem;
  margin-bottom: 3rem;
}

#section_3 {
  margin-bottom: 3rem;
}

#section_5 {
  background-color: #6094cc85;
  grid-column: 1/-1;
  padding: 2rem;
  margin-bottom: 3rem;
}

#section_6 {
  background-color: #6094cc;
  color: white;
  padding: 2rem;
  margin-bottom: 3rem;
}

#section_7 {
  background-color: #6094cc85;
  grid-column: 1/-1;
  padding: 2rem;
  margin-bottom: 3rem;
}

/* @media screen and (min-width: 600px) {
  #section_1 .section_wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 4.5rem;
  }

  #section_2 {
    grid-template-columns:
      minmax(3rem, 1fr)
      minmax(auto, 1200px)
      minmax(3rem, 1fr);
  }

  #section_2 .section_wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 4.5rem;
  }

  #section_3 {
    margin-top: 2rem;
  }

  #section_3 .section_wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 4.5rem;
  }

  #section_4 .section_wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 4.5rem;
  }

  #section_6 .section_wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 4.5rem;
  }
} */

/* -----------------designer footer-----------------*/

footer {
  width: 100vw;
  height: auto;
  background: var(--accent_light);
  padding: var(--medium_spacing);

  color: var(--black);
}
footer div,
p {
  padding: 0 0 var(--medium_spacing) 0;
}

footer p,
a {
  color: var(--black);
}

footer a {
  text-decoration: underline;
}

footer .three_links {
  display: flex;
  justify-content: start;
  flex-direction: column;
}
