#section_1 .col {
  margin-bottom: 3rem;
}

#section_1 .col1 {
  width: 100%;
  height: 50vh;
  background-image: url(../assets/simon-rae-IGOBsR93I7Y-unsplash.jpg);
  background-size: cover;
  background-position: 65% 50%;
  place-content: center;
  margin-bottom: 3rem;
}

#section_2 {
  grid-column: 1/-1;
  padding: 2rem;
  margin-bottom: 3rem;
}

#section_3 {
  margin-bottom: 3rem;
}

@media (min-width: 600px) {
  header nav {
    display: flex;
    align-items: baseline;
    gap: 85px;
  }

  #section_1 .col {
    margin-bottom: 3rem;
  }

  #section_1 .col1 {
    width: 100%;
    height: 50vh;
    background-image: url(../assets/simon-rae-IGOBsR93I7Y-unsplash.jpg);
    background-size: cover;
    background-position: 65% 50%;
    place-content: center;
    margin-bottom: 3rem;
  }

  #section_2 {
    grid-column: 1/-1;
    padding: 2rem;
    margin-bottom: 3rem;
  }

  #section_3 {
  }
}

footer {
  width: 100vw;
  height: auto;
  background: var(--accent_light);
  padding: var(--medium_spacing);

  color: var(--black);
}
footer div,
p {
  padding: 0 0 var(--medium_spacing) 0;
}

footer p,
a {
  color: var(--black);
}

footer a {
  text-decoration: underline;
}

footer .three_links {
  display: flex;
  justify-content: start;
  flex-direction: column;
}
