/**
 * /* =========================== Variabler ===========================
 *
 * @format
 */

:root {
	/* =========================== Farver ===========================*/
	--primary: #cca460;
	--secondary: #bfb096;
	--tertiary: rgba(96, 148, 204, 0.5);
	--accent_light: #efe5d3;
	--accent_dark: #234f80;
	--white: #fff;
	--black: #000;
	--testimonials: rgb(71, 111, 153);

	/* =========================== Spacing ===========================*/
	/* Mobile Spaacing */
	--small_spacing: 0.5rem;
	--medium_spacing: 1rem;
	--large_spacing: 1.5rem;
	--x-large_spacing: 2rem;
}

/* =========================== Fonte ===========================*/

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;

	text-decoration: none;
}

body,
p,
label,
form {
	font-family: "Montserrat", sans-serif;
	font-size: 1.05rem;
	line-height: 1.7rem;
}

/* =========================== Overskrifter ===========================*/

h1 {
	font-family: "Quicksand", sans-serif;
	font-weight: 300;
	font-size: 2rem;
	padding-bottom: var(--large_spacing);
}
h2 {
	font-family: "Quicksand", sans-serif;
	font-weight: 300;
	font-size: 1.8rem;
	padding-bottom: var(--large_spacing);
}
h3 {
	font-family: "Quicksand", sans-serif;
	font-weight: 300;
	font-size: 1.6rem;
	padding-bottom: var(--large_spacing);
}
h4 {
	font-family: "Quicksand", sans-serif;
	font-weight: 300;
	font-size: 1.4rem;
	padding-bottom: var(--large_spacing);
}
a {
	font-family: "Quicksand", sans-serif;
}

/* =========================== Section ===========================*/
section {
	padding-bottom: var(--large_spacing);
}
/* =========================== Menu ===========================*/
/* =========================== Burgermenu ===========================*/
header {
	position: relative;
	height: auto;

	display: flex;
	justify-content: space-between;
	padding: 0.5rem 0.5rem 0 0.5rem;

	grid-column: 1/-1;

	z-index: 20;
}

header .logo {
	width: 10rem;
}

header .logo_mobile {
	width: 100%;
	height: auto;
	padding: 0;
}
header .logo_desktop {
	display: none;
}

.burger_menu {
	position: relative;
	height: 3rem;
	width: 3rem;

	top: 0;
	right: 1rem;
	cursor: pointer;

	display: flex;
	flex-direction: column;
	align-items: center;

	z-index: 10;
}

.stroke {
	position: absolute;
	top: calc(50%);
	left: 0;
	height: 0.3rem;
	width: 3rem;
	background: black;

	border-radius: 999px;
	pointer-events: none;

	transition: all 0.3s;
}

.burger_menu .stroke_top {
	transform: translateY(-1rem);
}
.burger_menu .stroke_center {
	transform: translateY(-0.2rem);
}
.burger_menu .stroke_bottom {
	transform: translateY(0.5rem);
}

.burger_menu .stroke_top.openMenu {
	transform: rotate(45deg);
}
.burger_menu .stroke_center.openMenu {
	transform: translateX(5rem);
	opacity: 0;
}
.burger_menu .stroke_bottom.openMenu {
	transform: rotate(-45deg);
}

nav ul {
	top: 0;
	left: 0;
	position: fixed;
	height: 100vh;
	width: 100vw;
	background: #ffd791;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	list-style: none;
}

nav ul li {
	margin-bottom: 1rem;
}

nav ul li a {
	color: #4b4b4b;
	font-size: 3rem;
}

nav ul.openMenu {
	opacity: 1;
	pointer-events: all;
	z-index: 5;
}

.hidden {
	opacity: 0;
	pointer-events: none;
}

/* =========================== Main ===========================*/
main {
	display: grid;
	grid-template-columns:
		minmax(3rem, 1fr)
		minmax(auto, 1200px)
		minmax(3rem, 1fr);
	margin: auto;
}
main > * {
	grid-column: 2;
}

ul {
	list-style-position: outside;
	list-style-type: disc;
	padding-left: 2rem;
	line-height: 2rem;
	padding-bottom: var(--large_spacing);
}

img {
	padding-bottom: var(--large_spacing);
}

/* =========================== Footer ===========================*/
footer {
	grid-column: 1/-1;
	width: 100%;
	height: auto;
	background: var(--accent_light);
	padding: var(--medium_spacing);

	color: var(--black);
}
footer div,
p {
	padding: 0 0 var(--medium_spacing) 0;
}

footer p,
a {
	color: var(--black);
}

footer a {
	text-decoration: underline;
}

footer .three_links {
	display: flex;
	justify-content: start;
	flex-direction: column;
}
/* =========================== Mediaqueries ===========================*/
@media screen and (min-width: 600px) {
	/* =========================== Footer ===========================*/
	footer {
		padding-inline: 8rem !important;
		padding-top: 4rem !important;
	}
	.footer_wrapper {
		display: grid;
		grid-auto-flow: row;
		grid-template-columns: repeat(3, 1fr);
		grid-template-rows: repeat(3, 1fr);
		grid-auto-flow: column;
		gap: 0 4rem;
	}

	/* =========================== Menu ===========================*/
	/* =========================== Burgermenu ===========================*/

	header .logo {
		margin: 2rem 5rem;
		width: 12rem;
	}

	header .logo {
		width: 15rem;
	}

	header .logo_mobile {
		display: none;
	}
	header .logo_desktop {
		display: block;
		width: 100%;
		height: auto;
		padding: 0;
	}

	.burger_menu {
		display: none;
	}

	nav {
		display: flex;
		flex-direction: column;
		justify-content: center;
		width: 80vw;
	}

	nav ul {
		position: static;
		height: auto;
		width: 100%;
		background: none;
		display: flex;
		flex-direction: row;
		justify-content: space-evenly;
		align-items: end;

		transition: all 0.3s;
		transform-origin: left;

		padding: 0;
	}

	nav ul li {
		position: relative;
		margin-bottom: 0;
	}
	nav ul li::after {
		position: absolute;
		bottom: 0;
		left: 0;
		content: "";
		width: 100%;
		height: 0.1rem;
		background: #4b4b4b;

		transition: transform 0.3s;
		transform-origin: right;
		transform: scaleX(0);
	}

	nav ul li a {
		color: #4b4b4b;
		font-size: 1.3rem;
	}
	nav ul li:hover::after {
		transform-origin: left;
		transform: scaleX(1);
	}

	nav ul.openMenu {
		opacity: 1;
		pointer-events: all;
		z-index: 5;
	}

	.hidden {
		opacity: 1;
		pointer-events: all;
	}
}
