/**
 * /* =========================== Variabler ===========================
 *
 * @format
 */

:root {
	--primary: #0000ff;
	--secundary: #000000;
	--tertiary: #ff0000;
	--knap_farve: #ffffff;
}

@font-face {
	font-family: "Play Fair";
	src: url("/fonts/PlayFairDisplay.woff2") format("woff2"),
		url("/fonts/PlayfairDisplay.woff") format("woff");
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;

	list-style: none;
	text-decoration: none;
}

body {
	font-family: "Play Fair", serif;
}

/* =========================== Header ===========================*/
/* =========================== Menu ===========================*/
/* =========================== Burgermenu ===========================*/
/* =========================== Overskrifter ===========================*/

h1 {
	font-family: "Quicksand", sans-serif;
	font-weight: 300;
	color: var(--primary);
}
h2 {
	font-family: "Quicksand", sans-serif;
}
h3 {
	font-family: "Quicksand", sans-serif;
}
h4 {
	font-family: "Quicksand", sans-serif;
}
/* =========================== Farver ===========================*/
/* =========================== Fonte ===========================*/
/* =========================== Footer ===========================*/
/* =========================== Knapper ===========================*/
