img {
  max-width: 100%;
  height: auto;
}

#section_1 {
  width: 100%;
  height: 65vh;
  background-image: url(../billeder/p1copy.jpg);
  background-size: cover;
  background-position: 65% 80%;
  margin-bottom: 3rem;
}

#section_2 {
  margin-bottom: 3rem;
}

#section_3 {
  margin-bottom: 3rem;
}

#section_3 ul {
  padding-bottom: 0;
}

#section_4 {
  margin-bottom: 3rem;
}

#section_5 {
  width: 100%;
  height: 30vh;
  grid-column: 1/-1;
  background-size: cover;
  background-image: url(../assets/nil1.jpg);
  background-position: 40% 45%;
  margin-bottom: 3rem;
}

#section_6 {
  padding-bottom: 0;
  margin-bottom: 3rem;
}

#section_6 ul {
  padding-bottom: 0;
}

footer {
  width: 100vw;
  height: auto;
  background: var(--accent_light);
  padding: var(--medium_spacing);

  color: var(--black);
}
footer div,
p {
  padding: 0 0 var(--medium_spacing) 0;
}

footer p,
a {
  color: var(--black);
}

footer a {
  text-decoration: underline;
}

footer .three_links {
  display: flex;
  justify-content: start;
  flex-direction: column;
}

@media (min-width: 600px) {
}
