img {
  display: block;
  width: 100%;
  object-fit: cover;
  height: auto;
}

body {
  background: #ffffff;
}

#section_1 {
  display: grid;
  grid-column: 1/4;
  width: 100%;
  height: 100vh;
  background-image: url(splashbillede.jpg);
  background-size: cover;
  background-position: 98% 10%;
  margin-bottom: 80px;
  place-content: center;
}

@media (min-width: 1000px) {
    #second_section .section_wrapper {
        display: grid;
        width: 1000px;
        grid-template-columns: 1fr 2fr;
        gap: 20px;

    }

