#anoreksi_section {
  background-color: #cca46082;
}

#bulimi_section {
  background-color: #6094cc85;
}

#overspisning_section {
  background-color: #80622f9c;
}

#selvhad_section {
}

#raad_section {
  background-color: #6094cc;
}
