#anoreksi_section {
  background-color: #cca46082;
  margin-bottom: 1.5rem;
  padding: 1rem 1rem;
}

#bulimi_section {
  background-color: #6094cc85;
  margin-bottom: 1.5rem;
  padding: 1rem 1rem;
}

#overspisning_section {
  background-color: #80622f9c;
  margin-bottom: 1.5rem;
  padding: 1rem 1rem;
}

#selvhad_section {
}

#raad_section {
  background-color: #6094cc;
  padding: 1rem 1rem;
}

img {
  max-width: 100%;
  height: auto;
}

footer {
  width: 100vw;
  height: auto;
  background: var(--accent_light);
  padding: var(--medium_spacing);

  color: var(--black);
}
footer div,
p {
  padding: 0 0 var(--medium_spacing) 0;
}

footer p,
a {
  color: var(--black);
}

footer a {
  text-decoration: underline;
}

footer .three_links {
  display: flex;
  justify-content: start;
  flex-direction: column;
}
