/* ________________Billeder & video________________ */

img {
  max-width: 100%;
  height: auto;
  grid-column: 1/-1;
}

.pic1 {
  background: url("../billeder/unsplash/youssef-naddam-iJ2IG8ckCpA-unsplash-vandret.jpg");
  background-size: cover;
  background-position: 50% 50%;
  width: 100%;
  padding: 28%;
}

.pic2 {
  background: url("../billeder/unsplash/christian-joudrey-aO_jMXTduUE-unsplash.jpg");
  background-size: cover;
  background-position: 50% 0%;
  width: 100%;
  padding: 47% 50%;
}

.pic3 {
  background: url("../billeder/egne/screenshot_video.JPG");
  background-size: cover;
  background-position: 54% 0%;
  width: 100%;
  padding: 30% 50%;
  grid-area: 1/1;
}

.section3_wrapper {
  display: grid;
}

.section3_wrapper h3 {
}

/* ____________________________FOOTER KODER_____________________ */

footer {
  width: 100vw;
  height: auto;
  background: var(--accent_light);
  padding: var(--medium_spacing);

  color: var(--black);
}

footer div,
p {
  padding: 0 0 var(--medium_spacing) 0;
}

footer p,
a {
  color: var(--black);
}

footer a {
  text-decoration: underline;
}

footer .three_links {
  display: flex;
  justify-content: start;
  flex-direction: column;
}

#section_1 .section_wrapper {
  width: 100%;
  background: rgba(196, 193, 193, 0.58);
  padding-top: 16px;
  padding-left: 16px;
  padding-right: 16px;
  text-align: center;
}

@media screen and (min-width: 600px) {
  #section_2 {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  #section_3 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 3rem;
  }
}
